<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
  <title>Rainbowpic</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <link rel="stylesheet" type="text/css" href="css/loading-ani.css">
  <link rel="stylesheet" type="text/css" href="css/styles_start.css">
  <link rel="icon" type="image/png" href="images/Rainbowpic_icon.png">
</head>

<body>

  <div class="container">
    L O A D I N G . . .<br><br>
    <div class="dot red"></div>
    <div class="dot green"></div>
    <div class="dot blue"></div>
    <div class="dot purple"></div>
  </div>
  
  <a class="btn" href="/result">Result page</a>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>
  <script src="js/loading-ani.js"></script>

</body>

</html>