<html>

<head>
  <title>Rainbowpic</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <link rel="stylesheet" type="text/css" href="css/styles_start.css">
  <link rel="icon" type="image/png" href="images/Rainbowpic_icon.png">
</head>

<body>
  <div id="doc" class="yui-t1">
    <div id="hd">
      <div id="header">
        <a href="/">
          <img class="logo-top" src="images/Rainbowpic_logo.png" alt="Rainbowpic Logo">
        </a>
        <br>
        <hr class="top-line">
      </div>
    </div>
    <div id="bd">
      <div class="content">
        <div class="box-forfileload">
          <div class="filepathbox">C:\Users\kimhe\Desktop\Rainbowpic\public\images\loaded-img.jpg</div>
          <a class="btn" href="">Load</a>
        </div>
        <div class="img-container">
          <img class="loaded-img" src="images/loaded-img.jpg" alt="loaded image">
        </div>
        <div class="btn-container">
          <a class="btn" href="/upload">Convert</a>
        </div>
        <div id="footer">
          Chosun University / Code-no3 / for Capstone design
        </div>
      </div>
    </div>
  </div>
</body>

</html>