.button {
    background-color: #89658200;
    border-radius: 12px;
    border: 2px solid #ffffff;
    padding: 20px 36px;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    font-family: 'fontawesome';
    cursor: pointer;
}